<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WD_QTableDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADBB0D0D2050C4D300757D68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADBB0D252050C4D400757D68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADBB0D302050C4D400757D68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
